* {
	box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Rozha+One');

/*Mobile Columns*/
.m-col-12 {
	width: 100%;
}
.m-col-6 {
	width: 50%;
}
.m-col-4 {
	width: 33%;
}
.m-col-3 {
	width: 25%;
}
/*End Columns*/


img {
	max-width: 100%;
}

body {
/*  max-width: 1000px;*/
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
  	margin: 0;
  	color: #000000;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #000;   
}

h1::after, h2::after {
	content: "";
    display: block;
    width: 5%;
    height: 3px;
    background-color: #88b04b;
    margin: 0 auto;
    margin-top: 10px;
}

section, main, aside {
  padding: 1em;
  margin-bottom: 1em;
}

section {
	content: "";
	clear: both;
	display: table;
}

p, footer h3 {
	font-size: 15px;
}

nav {
	z-index: 10000;
}

header {
	height: 185px;
}

.about-header {
	background-image: url(../assets/images/header/salon.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
}

.services-header {
	background-image: url(../assets/images/header/services.jpeg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 600px;
}


#myVideo {
    right: 0;
    bottom: 0;
    max-width: 100%; 
    height: auto;
}

.content {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

.content::before {
	content: "";
	position: absolute;
	background: rgba(225,225,225,.4);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/*Nav Styles - Mobile*/

nav {
	position: fixed;
	top: 0;
	padding: 0 auto;
}

input {
	display: none;
}

.nav-social {
    background-color: white;
    text-align: right;
    background-image: url(../assets/images/logo.png);
    background-size: 140px;
    background-repeat: no-repeat;
    padding: 30px 8px;
    background-position: left;
    background-origin: content-box;
}

.nav-social p{
	margin: 0;
}


.m-nav-pages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	background-color: #000000;
	padding: 15px 0px;
}

.m-nav-pages li {
	text-align: center;
}

.m-nav-pages a, .services a {
	color: #fff;
	text-decoration: none;
}

.m-nav-pages li a:hover, .services a:hover {
	border-bottom: 4px solid #88b04b;

}

.nav-btn {
	display: inline-block;
	background-color:#88b04b;
	padding: 15px;
	text-align: center;
}



.nav-pages {
	display: none;
}

.fa {
	color: #88b04b;
	padding-left: 8px;
	font-size: 18px!important;
}

/*End Nav Styles*/

/*Body Styles*/

.intro p {
	line-height: 35px;
	text-align: center;
}

/*End Body Styles*/

/*Services Styles*/
.accordion {
	width: 100%;
	max-width: 100%;
	height: 500px;
	overflow: hidden;
	margin: 50px 0px 0px;
	display:none;
}

.accordion ul {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.accordion ul li {
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 16.666%;
	height: 500px;
	background-repeat: no-repeat;
	transition: all 500ms ease;
}

.accordion ul li div {
	display: block;
	overflow: hidden;
	width: 100%;
}

.accordion ul li div a {
	display: block;
	height: 500px;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
	transition: all 200ms ease;
}

.accordion ul li div a * {
	opacity: 0;
	margin: 0;
	width: 100%;
	text-overflow: ellipsis;
	position: absolute;
	z-index: 5;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-transitions: all 400ms ease;
	transition: all 400ms ease;
	bottom: 0;
	margin-bottom: 130px;
}

.accordion ul li div a h2 {
	text-overflow: clip;
	margin-bottom: 2px;
	top: 160px;
}

.accordion ul li div a p {
	top: 160px;
}

.accordion ul li:nth-child(1) {background-image: url("../assets/images/services/bridal.jpg");}
.accordion ul li:nth-child(2) {background-image: url("../assets/images/services/hair.jpg");}
.accordion ul li:nth-child(3) {background-image: url("../assets/images/services/makeup.jpg");}
.accordion ul li:nth-child(4) {background-image: url("../assets/images/services/nails.jpg");}
.accordion ul li:nth-child(5) {background-image: url("../assets/images/services/spa.jpg");}

.accordion ul:hover li {
	width: 8%;
}

.accordion ul:hover li:hover {
	width: 17%;
}

.accordion ul:hover li:hover a {
	background: rgba(0,0,0,.4);
}

.accordion ul:hover li:hover a * {
	opacity: 1;
	-webkit-transform: translateX(0);
	transfrom: translate(0);
}

.services-container {
	padding: 0;
	margin: 0;
	display: none;
}

.accordion h3 {
	color: #fff;
	top: 50%;
}

.icons ul {
	list-style-type: none;
	padding: 0;
	margin: 0px auto;
}

.icons li {
	display: block;
	background-color: #fff;
	width: 100%;
	padding: 50px;
	text-align: center;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
}

.icons li:hover {
	color: #88b04b;
	cursor: pointer;
}

/*End Index Services Styles*/

/*Quote Styles*/
blockquote {
	font-family: 'Rozha One', serif;
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

.quotation {
	text-align: center;
	font-size: 6em !important;
	padding: 0px;
	color: #88b04b;
	height: 73px;
	margin: 0;
	font-family: 'Rozha One', serif;
}

cite {
	display: block;
	padding-top: 25px;
	font-size: .65em;
}
/*End Quote Styles*/

/*Event Styles*/
.events {
	padding: 0;
	text-align: center;
	display: inline;
}
.special-left {
    background-color: rgba(226, 226, 226,.4);
}

.special-right {
	background-color: #000000;
	color: #ffffff;
}

.events h3 {
	color: #88b04b;
}

.special-left, .special-right {
	padding: 155px 35px;
	float: left;
}

.special-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

.special-description {
    font-style: italic;
}
/*End Event Styles*/

/*Product Styles*/

.product {
	float: left;
	text-align: center;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

.product img {
	-webkit-filter: opacity(50%); 
    filter: opacity(50%);
    padding: 30px 20px;
    max-width: 55%;
}

.product img:hover {
	-webkit-filter: opacity(100%); 
    filter: opacity(100%);
    cursor: pointer;
}
/*End Product Styles*/

/*Slideshow*/
.carousel-cell {
	width: 100%;
}

.carousel-cell img {
	width: 100%;
	height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

.slideshow {
	display: none;
}

.flickity-page-dots .dot {
	background: #000!important;
}

/*End Slideshow*/

/*Map Styles*/
.map {
	width: 100%;
	padding: 0;
	margin: 0;
}
/*End Map Styles*/

/*Service Description*/

.tabs {
	width: 100%;
	float: left;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #000;
	display: block;
	padding: 10px 15px;
	cursor: pointer
}

ul.tabs li.current{
	background: #000;
	color: #fff;
}

.tab-content{
	display: none;
	padding: 0px 15px;
}

.tab-content.current{
	display: inherit;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

.tab-content {
	width: 100%;
}

.service-hair {
	width: 100%;
	margin: 0px auto;
}

.service-notice {
	padding: 15px 0px;
	font-style: italic;
	font-weight: 600;
}

.bridal-notice {
	font-style: italic;
	font-size: 12px;
	padding-bottom: 10px
}

.bridal-intro h3 {
	text-align: left;
}

.bridal-intro {
	display: none;
}

.service-title {
	color: #88b04b;
	padding: 15px 0px 5px 0px;
}

.service-title::after {
content: "";
display: block;
width: 115%;
height: 2px;
background-color: #000;
margin: 0 auto;
margin: 10px 0px;
}

.skin::after {
content: "";
display: block;
width: 138%;
height: 2px;
background-color: #000;
margin: 0 auto;
margin: 10px 0px;
}

.desktop-book {
	display: none;
	background-color: #88b04b;
	margin: 0;
	padding: 31px 0px 94px 0px;
	text-align: center;
}

/*End service description*/

/*Footer Style*/
footer {
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 45px;
}

footer h3 {
	color: #88b04b;
	padding: 0;
	margin: 0;
}

footer ul {
	list-style-type: none;
	line-height: 30px;
	padding: 0;
}

.hours-closed {
	font-weight: 600;
}

.footer-social {
	display: none;
}
/*End Footer*/

/*Staff*/
.main-stylist.desktop {
	display: none;
}

.other-stylist {
	padding: 10px;
	text-align: center;
}

.other-stylist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.skill-category {
	font-weight: 600;
	color: #88b04b;
	margin: 8px 0px;
}

.other-stylist h4 {
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 1px 0px;
}

.member {
	float: left;
	padding: 25px 15px;
}

.team h2 {
	margin: 0px;
}


@media screen and (min-width: 641px) {
	/*Nav Styles - Tablet/Desktop*/
	nav {
		position: relative;
	}

	header {
		height: 135px;
	}

	.m-nav-pages {
		display: none;
	}

	.nav-social {
		padding: 30px 40px;
	}

	.nav-pages {
		display: block;
	}

	.nav-pages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	background-color: #000000;
	padding: 15px 0px;
	width: 100%;
	}

	.nav-pages li {
		text-align: center;
		width: 25%;
	}

	.nav-pages a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 600;
	}

	.nav-pages li a:hover {
		border-bottom: 4px solid #88b04b;

	}

	.nav-btn {
		padding: 14px 0px;
		position: absolute;
		top: 83px;
		right: 0;
		height: 53px;
		width: 170px!important;
	}

	.nav-btn a:hover {
		border: none!important;
	}

	input[type=text] {
	display: block;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: white;
    /*background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;*/
    padding: 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    right: 0;
    margin: 0px 172px;
    top: 22px;
}

	input[type=text]:focus {
	    width: 50%;
	}
	/*End Nav Styles*/

	/*Desktop/Tablet Columns*/
	.col-12 {
		width: 100%;
	}
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
	.col-3 {
		width: 25%;
	}
	/*End Columns*/

	.intro {
		padding: 0px 75px;
	}

	.services {
		display: inline-flex;
	}

	.slideshow {
		display: block;
		padding: 0;
		width: 100%;
		margin: 0;
	}

	.slide-text {
		position: absolute;
		top: 12px;
		left: 73px;
	}

	.slideshow-stylist {
		font-size: 2.2em;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		font-weight: 800;
	}

	.slideshow-title {
		font-style: italic;
	}

	.slideshow-info {
		width: 45%;
		padding-bottom: 20px;
	}

	.slideshow-btn {
		color: #000;
		text-decoration: none;
		border: 1px solid #000;
		padding: 12px 25px;
	}

	.slideshow-btn:hover {
		color: #fff;
		background-color: #000;
		cursor: pointer;
	}

	.slideshow-stylist.secondary {
		color: #88b04b;
		width: 34%;
		padding-bottom: 35px;
		text-shadow: .5px .5px #000;
	}

	.secondary-btn {
		color: #fff;
		text-decoration: none;
		padding: 12px 25px;
		background-color: #88b04b; 
	}

	.products-container {
		padding-top: 50px;
	}

	footer {
		display: inline-flex;
		width: 100%;
	}

	.footer-social {
		display: block;
		padding-top: 37px;
	}

	.footer-social .fa {
		font-size: 22px!important;
		color: #ffffff;
	}

	.footer-social .fa:hover {
		color: #88b04b;
	}
	.right {
		width: 62.5%!important;
		margin: 1% 0% 1% 0%;
	}

	.left {
		width: 41.33%!important;
		margin: 1% .5% 1% 0%;
	}

	.desktop-book {
		display: block;
	}

	.book-tagline {
		font-size: 2em;
		text-transform: uppercase;
		font-weight: 800;
		color: #fff;
		padding-bottom: 18px;
	}
	.book-btn {
		background-color: #000;
		color: #fff;
		padding: 25px;
		text-transform: uppercase;
		cursor: pointer;
	}


}

@media screen and (min-width: 800px) {
	.content {
	position: relative;
	display: block;
}
.slide-text {
	position: absolute;
	top: 75px;
	left: 100px;
}

.accordion {
	display: block;
}

.services-container {
	display: block;
}

.icons {
	display: none;
}

.m-service-list {
	display: none;
}
	/*Staff*/
.main-stylist img {
	max-width: 100%;
}

.main-stylist.desktop {
	display: inline-flex;
}

.move-up {
	transition: all 500ms ease;
	text-overflow: clip;
}
#bio1:hover .move-up, #bio2:hover .move-up,#bio3:hover .move-up {
	transform: translate(0,-250px);
	-webkit-transform: translate(0,-250px);
	background-color: rgba(0,0,0,.7);
	color: #fff;
	transition: all 500ms ease;
	height: 100%;
}

#bio1, #bio2, #bio3 {
	padding: 0px 10px;
}

.name {
	text-transform: uppercase;
	font-weight: 600;
	color: #88b04b;
}

.bio {
	padding: 20px;
	line-height: 15px;
}

.bio p {
	line-height: 20px;
}

.bio-title {
	font-style: italic;
	font-weight: 300;
}

.main-stylist {
	height: 250px;
	overflow: hidden;
	margin-top: 15px;
	display: inline-flex;
	}
}

.team h2 {
	margin-bottom: 1em;
}

@media screen and (min-width: 1008px) {
	section, main, aside {
  		padding: 1em 5em;
	}

	.tabs {
	width: 30%;
	float: left;
}

	tbody {
		position: relative;
		left: 30px;
	}

	.tab-content {
		width: 70%;
	}

	.service-hair {
		width: 80%;
		margin: 0px auto;
	}


	.bridal-intro {
		padding: 0px 0px 0px 34px;
		display: block;
	}

	.service-title::after {
		content: "";
	    display: block;
	    width: 125%;
	    height: 2px;
	    background-color: #000;
	    margin: 0 auto;
	    margin: 10px 0px;
	}
	.service-notice {
		padding: 34px;
	}

	.slide-text {
		position: absolute;
		top: 80px;
		left: 150px;
	}

	.slideshow-info {
		width: 33%;
	}

}

@media screen and (min-width: 1200px) { 
	.main-stylist {
	height: 320px;
}

/*Screen Width Styles for Services Accordion Only - Mobile*/
@media screen and (max-width: 600px) {
	.accordion {
		height: auto;
	}
	.accordion ul li, .accordion ul li:hover,
	.accordion ul:hover li, .accordion ul:hover li:hover {
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		-webkit-transition: none;
		transition: none;
	}
		.accordion h3 {
	width: 40%!important;
}
}