* {
	box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Rozha+One');

/*Mobile Columns*/
	.m-col-12 {
		width: 100%;
	}
	.m-col-6 {
		width: 50%;
	}
	.m-col-4 {
		width: 33%;
	}
	.m-col-3 {
		width: 25%;
	}
	/*End Columns*/

img {
	max-width: 100%;
}

body {
/*  max-width: 1000px;*/
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
  	margin: 0;
  	color: #373d42;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

section, main, aside {
  padding: 1em;
  margin-bottom: 1em;
}

section {
	content: "";
	clear: both;
	display: table;
}

nav {
	z-index: 10000;
}

header {
	/*background-image: url(../assets/images/banner2.jpg);*/
	background-image: url(../assets/images/new/hair10.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}

/*Headings*/
h1, h2 {
	color: #88b04b;
	text-align: center;
}

/*Nav Styles - Mobile*/

nav {
	position: fixed;
	top: 0;
	padding: 0 auto;
}

.nav-social {
    background-color: white;
    text-align: right;
    background-image: url(../assets/images/logo.png);
    background-size: 35%;
    background-repeat: no-repeat;
    padding: 30px 8px;
    background-position: left;
    background-origin: content-box;
}

.nav-social p{
	margin: 0;
}


.m-nav-pages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	background-color: #373d42;
	padding: 15px 0px;
}

.m-nav-pages li {
	text-align: center;
}

.m-nav-pages a {
	color: #fff;
	text-decoration: none;
}

.m-nav-pages li a:hover {
	border-bottom: 4px solid #88b04b;

}

.nav-btn {
	display: inline-block;
	background-color:#88b04b;
	padding: 15px;
	text-align: center;
}



.nav-pages {
	display: none;
}

.fa {
	color: #88b04b;
	padding-left: 8px;
}

/*End Nav Styles*/

/*Body Styles*/

.intro p {
	line-height: 35px;
}

/*End Body Styles*/

/*Services Styles*/
.services img {
	background-size: contain;
	max-width: 100%;
}

/* relevant styles */
.img-wrap {
  position: relative;
  height: auto;
  width: 100%;
}

.services-name {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(39,48,62,.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin: 0px auto;
  text-align: center;
  padding-top: 50%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.15em;


  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .services-name {
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(55, 61, 66, .7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.services-container {
	padding: 0;
	margin: 0;
}
/*End Icon Styles*/

/*Quote Styles*/
blockquote {
	font-family: 'Rozha One', serif;
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

.quotation {
	text-align: center;
	font-size: 6em !important;
	padding: 0px;
	color: #88b04b;
	height: 73px;
	margin: 0;
	font-family: 'Rozha One', serif;
}

cite {
	display: block;
	padding-top: 25px;
	font-size: .65em;
}
/*End Quote Styles*/

/*Event Styles*/
.events {
	padding: 0;
	text-align: center;
	display: inline;
}
.special-left {
    background-color: rgba(226, 226, 226,.4);
}

.special-right {
	background-color: #373d42;
	color: #ffffff;
}

.events h3 {
	color: #88b04b;
}

.special-left, .special-right {
	padding: 35px;
	float: left;
}

.special-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

.special-description {
    font-style: italic;
}
/*End Event Styles*/

/*Product Styles*/

.product {
	float: left;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

.product img {
	-webkit-filter: opacity(50%); 
    filter: opacity(50%);
    padding: 30px 20px;
}

.product img:hover {
	-webkit-filter: opacity(100%); 
    filter: opacity(100%);
    cursor: pointer;
}
/*End Product Styles*/

/*Slideshow*/
.carousel-cell {
	width: 100%;
}

.carousel-cell img {
	width: 100%;
	height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

.slideshow {
	display: none;
}

/*End Slideshow*/

/*Map Styles*/
.map {
	width: 100%;
	padding: 0;
	margin: 0;
}

.embed-maphub-logo {
	display: none!important;
}
/*End Map Styles*/

/*Footer Style*/
footer {
	background-color: #373d42;
	color: white;
	text-align: center;
	padding: 45px;
}

footer h3 {
	color: #88b04b;
	padding: 0;
	margin: 0;
}

footer ul {
	list-style-type: none;
	line-height: 30px;
	padding: 0;
}

.hours-closed {
	font-weight: 600;
}
/*End Footer*/

@media screen and (min-width: 600px) {
	/*Nav Styles - Tablet/Desktop*/
	nav {
		position: relative;
	}

	.m-nav-pages {
		display: none;
	}

	.nav-pages {
		display: block;
	}
	/*End Nav Styles*/

	/*Desktop/Tablet Columns*/
	.col-12 {
		width: 100%;
	}
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
	.col-3 {
		width: 25%;
	}
	/*End Columns*/

	.right {
		width: 62.5%!important;
		margin: 1% 0% 1% 0%;
	}

	.left {
		width: 41.33%!important;
		margin: 1% .5% 1% 0%;
	}

	.services {
		display: inline-flex;
	}

	.slideshow {
		display: block;
		padding: 0;
		width: 100%;
	}
}
