* {
	box-sizing: border-box;
}

/*Mobile Columns*/
	.m-col-12 {
		width: 100%;
	}
	.m-col-6 {
		width: 50%;
	}
	.m-col-4 {
		width: 33%;
	}
	.m-col-3 {
		width: 25%;
	}
	/*End Columns*/

img {
	max-width: 100%;
}

body {
/*  max-width: 1000px;*/
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
  	margin: 0;
  	color: #373d42;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

section, main, aside {
  padding: 1em;
  margin-bottom: 1em;
}

nav {
	z-index: 10000;
}

header {
	background-image: url(../assets/images/banner2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}

/*Headings*/
h1, h2 {
	color: #88b04b;
	text-align: center;
}

/*Nav Styles - Mobile*/

nav {
	position: fixed;
	top: 0;
	padding: 0 auto;
}

.nav-social {
	background-color: white;
	text-align: right;
	background-image: url(../assets/images/logo.png);
	background-size: 40%;
	background-repeat: no-repeat;
	padding: 40px 8px;
	background-position: left;
	background-origin: content-box;
}

.nav-social p{
	margin: 0;
}


.m-nav-pages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	background-color: #373d42;
	padding: 20px 0px;
}

.m-nav-pages li {
	text-align: center;
}

.m-nav-pages a {
	color: #fff;
	text-decoration: none;
}

.m-nav-pages li a:hover {
	border-bottom: 4px solid #88b04b;

}

.nav-btn {
	display: inline-block;
	background-color:#88b04b;
	padding: 20px;
	text-align: center;
}



.nav-pages {
	display: none;
}

/*End Nav Styles*/

/*Body Styles*/

.intro p {
	line-height: 35px;
}

/*End Body Styles*/

/*Icon Styles*/
.icons ul {
	list-style-type: none;
	padding: 0;
}

.icons li {
	height: 100px;
	width: 100px;
	margin: 20px;
	display: inline-block;
	background-color: #556166;
	border-radius: 8px;
}

.icon-1 {
	background-image: url(../assets/images/bridal.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
}
.icon-2 {
	background-image: url(../assets/images/haircut.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
}
.icon-3 {
	background-image: url(../assets/images/makeup.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
}
.icon-4 {
	background-image: url(../assets/images/nails.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45px;
}
.icon-5 {
	background-image: url(../assets/images/spa.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
}

.icon-1:hover,.icon-2:hover,.icon-3:hover,.icon-4:hover,.icon-5:hover {
	background-color: #373d42;
	cursor: pointer;
}

.icon-title {
    position: relative;
    top: 107%;
    font-weight: 600;
    text-align: center;
    color: #556166;
}

.bridal {
	left: 25%;
}

.hair {
	left: 35%;
}

.makeup {
	left: 20%;
}

.nails {
	left: 30%;
}

.spa {
	left: 33%;
}
/*End Icon Styles*/

/*Quote Styles*/
blockquote {
	font-family: 'Rozha One', serif;
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

.quotation {
	text-align: center;
	font-size: 6em !important;
	padding: 0px;
	color: #88b04b;
	height: 73px;
	margin: 0;
	font-family: 'Rozha One', serif;
}

cite {
	display: block;
	padding-top: 25px;
	font-size: .65em;
}
/*End Quote Styles*/

/*Event Styles*/
.events {
	padding: 0;
	text-align: center;
	display: inline;
}
.special-left {
    background-color: rgba(226, 226, 226,.4);
}

.special-right {
	background-color: #373d42;
	color: #ffffff;
}

.events h3 {
	color: #88b04b;
}

.special-left, .special-right {
	padding: 35px;
	float: left;
}

.special-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

.special-description {
    font-style: italic;
}
/*End Event Styles*/

@media screen and (min-width: 600px) {
	/*Nav Styles - Tablet/Desktop*/
	nav {
		position: relative;
	}

	.m-nav-pages {
		display: none;
	}

	.nav-pages {
		display: block;
	}
	/*End Nav Styles*/

	/*Desktop/Tablet Columns*/
	.col-12 {
		width: 100%;
	}
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
	.col-3 {
		width: 25%;
	}
	/*End Columns*/
}
